# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Environment variables
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Build / Cache
dist/
.cache/

# Test
coverage/

# Misc
*.log
